* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

body {
    color: var(--branco);
    background-color: var(--azul-mais-claro);
}

body a {
    text-decoration: none;
    color: #f2f2f2;
}



/*Aqui criei uma uma memória utilizando root para armazenar as informações que vou usar com mais frequencia como as cores*/
:root {
    --branco: #f2f2f2;
    --azul-mais-claro: #1c303a;
    --blue-more-dark: #16232E;
    --conatainer2: #203641;
    --black: #0a0c0d;
    --ponteiro: hsla(111, 100%, 54%, 0.829);
    --preto-fosco: #211b15;
    --green-icons: #6AFF00;
}


/*Estilizando Cabeçalho*/

header a {
    text-decoration: none;
    color: #f2f2f2;
}

.header {
    background-color: var(--blue-more-dark);
    padding-inline: 20px;
    /*equivale a left and right*/
}

.nav {
    max-width: 1000px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
}

.nav_list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav_list a {
    font-size: 18px;
    padding-block: 16px;
    /*equivale a top e bottom*/
}

/*iniciando estilização menu responsivo*/

.nav .hamburguer {
    /*aqui vamos tirar a bordar e bg padrão e add a primeira linha que vai ficar no meio*/
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

/*para criar os outros dois traços usamos before e after*/

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: .3s;

}


/*fim da estilização Cabeçalho*/

.container {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    display: flex;
    margin: auto;
}


.home {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;


}

.home .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    gap: 25px;
}

.span_intro {
    color: var(--green-icons);
}

.home .intro h1 {
    font-size: 50px;
}

.home .intro p {
    font-size: 20px;
    text-align: justify;
    color: #bbb;
}

.img_perfil {
    display: flex;
    align-items: center;
    justify-content: center;

}

.home .img_perfil img {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--green-icons);

}

/*Sobre mim*/
.container2 {
    display: flex;
    justify-content: center;


}



.sobre_mim {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;


}

.title_sections {
    display: flex;
    justify-content: center;
}

.title_sections h1 {
    font-size: 45px;
    color: var(--branco);
    border-bottom: 1px solid var(--branco);
}

.conteudo p {
    display: flex;
    margin: auto;
    max-width: 800px;
    line-height: 1.5;
    color: #bbb;

}

/* section de habilidades*/

#skills {
    justify-content: center;
}


.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    text-align: center;
    gap: 50px;
    height: 100vh;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    max-height: 400px;

}


.fw {
    background: var(--preto-fosco);
    display: flex;
    color: var(--green-icons);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 150px;
    height: 150px;
    border-bottom: 2px solid var(--green-icons);

}

.fw_title {
    font-weight: 500;
}

.fw_vue .icon_fw img {
    width: 50px;
    height: 50px;

}


/*section projetos*/


.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    text-align: center;
    gap: 100px;
}

#projetos {
    display: flex;
    justify-content: center;

}



.area_cards_project {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    justify-content: center;
}


.cards_projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    color: var(--green-icons);
}

.conteudo_cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: border-box;
    transition: .3s ease-in;


}

.img_cards_project{
    object-fit: cover;
    width: 250px;
    height: 200px;
    border-bottom: 4px solid #6AFF00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 5;
}

.conteudo_cards p {
    margin-bottom: 5px;

}

.descricao_off{
    opacity: 0;
    width: 250px;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--preto-fosco);
    transform: translateY(-80px);
    transition: opacity 0.5s ease, transform 0.8s ease;

}

.bt-ver{
    margin: auto;
    padding: 5px;
    background: none;
    margin-top: 10px;
    border: 1px solid rgb(172, 255, 47);
    border-radius: 3px;
    cursor: pointer;
    color: greenyellow;
    transition: 0.3s;
    margin-bottom: 5px;


}

.bt-ver:hover {
    background: rgba(172, 255, 47, 0.26);
    color: #f2f2f2;

}

.bt-ver2:hover {
    background: rgba(172, 255, 47, 0.26);
    color: #f2f2f2;
}

.conteudo_cards:hover {
    scale: 1.08;
    cursor: pointer;
}







/*area de contatos*/
.contatos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#contatos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
}

.contacts_cards .cards {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contacts_cards .cards img {
    background: var(--preto-fosco);
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;

}


.contacts_cards .cards a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.contacts_cards .cards h2 {
    margin-bottom: 10px;
}

#telefone a img,
#linkedin a img {
    width: 65px;
    height: 65px;
}

/*area forms*/

#forms {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.forms h2 {
    text-align: center;
    border-bottom: 1px solid var(--branco);
}

.area_forms {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.area.forms .name {
    display: flex;
    flex-direction: column;
}

.forms_space {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.forms_space input {
    width: 100%;
    height: 25px;
}

.msg_error {
    color: red;
    font-size: 16px;
    display: none;
}


.msg_error_confirmed {
    border: 2px solid red;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    color: var(--branco);
}

#submit_button {
    display: flex;
    margin: auto;
    padding: 8px;
    cursor: pointer;
}

#submit_button:hover {
    background: #ccc;
    border: none;

}

footer {
    display: flex;
    width: 100%;
    background: var(--blue-more-dark);
    justify-content: center;
}

.area_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

}